body {
    font-family: 'Euclid Square', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --dk-bg-dark-color: #0c0c0c;
    --dk-bg-color: #151515;
    --dk-bg-ins-color: #1e1e1e;
    --dk-bg-ins-light-color: #2c2c2c;
    --dk-border-color: #4b4b4b;
    --dk-span-color: #398aec;
}
